[package]
name = "niumside-poptracker"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
auraxis = { git = "https://github.com/brakenium/auraxis-rs.git" }
tokio = { version = "1.25.0", features = ["full"] }
tracing-subscriber = "0.3"
tracing = "0.1.36"
config = "0.13.2"
url = { version = "2.3.1", features = ["serde"] }
serde = { version = "1.0.147", features = ["derive"] }
chrono = "0.4.23"
futures = "0.3.25"
sqlx = { version = "0.6.2", features = ["runtime-tokio-native-tls", "postgres", "offline", "chrono"] }
thiserror = "1.0.37"
metrics-exporter-prometheus = "0.12.0"
metrics = "0.21.0"
shuttle-runtime = "0.17.0"
shuttle-shared-db = { version = "0.17.0", features = ["postgres"] }
shuttle-secrets = "0.17.0"
rocket = { version = "0.5.0-rc.3", features = ["json"] }

[profile.dev.package.sqlx-macros]
opt-level = 3

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
