[package]
name = "niumside-poptracker"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
auraxis = { git = "https://github.com/AnotherGenZ/auraxis-rs", version = "0.1.0" }
tokio = { version = "1.25.0", features = ["full"] }
tracing-subscriber = "0.3"
tracing = "0.1.36"
config = "0.13.2"
url = { version = "2.3.1", features = ["serde"] }
serde = { version = "1.0.147", features = ["derive"] }
chrono = "0.4.23"
dashmap = "5.4.0"
rayon = "1.5.3"
futures = "0.3.25"
sqlx = { version = "0.6.2", features = ["runtime-tokio-rustls", "postgres", "chrono", "offline"] }
thiserror = "1.0.37"

[patch."https://github.com/AnotherGenZ/auraxis-rs"]
auraxis = { path = "./auraxis-rs/auraxis" }

[profile.dev.package.sqlx-macros]
opt-level = 3

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.4"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "nightly"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "aarch64-unknown-linux-gnu", "aarch64-unknown-linux-musl", "armv7-unknown-linux-gnueabihf", "armv7-unknown-linux-musleabi"]
include = ["config/default.yaml"]
