version: "3.1"

services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_DB: niumside
      POSTGRES_PASSWORD: P@ssw0rd

  pgadmin:
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - ./pgadmin-servers.json:/pgadmin4/servers.json
    environment:
      PGADMIN_DEFAULT_EMAIL: niumside@example.com
      PGADMIN_DEFAULT_PASSWORD: P@ssw0rd
      PGADMIN_DISABLE_POSTFIX: "true"
    image: dpage/pgadmin4

  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml

  # grafana:
  #   image: grafana/grafana-oss:latest
  #   user: 1000:1000
  #   restart: always
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - ./docker/monitoring/grafana/data:/var/lib/grafana
  #     - ./docker/monitoring/grafana/provisioning:/etc/grafana/provisioning
  #   environment:
  #     GF_SECURITY_ADMIN_USER: admin
  #     GF_SECURITY_ADMIN_PASSWORD: admin

  alertmanager:
    image: prom/alertmanager:latest
    ports:
      - "9093:9093"
    volumes:
      - ./docker/monitoring/alertmanager:/etc/alertmanager
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
      - --web.external-url=http://localhost:9093

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  niumside:
    build:
      context: .
      dockerfile: ./dev.Dockerfile
    volumes:
      - ./config/docker.yaml:/etc/niumside-poptracker/config/local.yaml
