version: "3.1"

services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_DB: niumside
      POSTGRES_PASSWORD: P@ssw0rd

  pgadmin:
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - ./pgadmin/servers.json:/pgadmin4/servers.json
    environment:
      PGADMIN_DEFAULT_EMAIL: niumside@example.com
      PGADMIN_DEFAULT_PASSWORD: P@ssw0rd
      PGADMIN_DISABLE_POSTFIX: "true"
    image: dpage/pgadmin4
