name: Application binary builds

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  builds:
    name: Builds for ${{ matrix.target }} ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        rust: [nightly]
        target:
          # Linux x64 gnu and musl
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          # Windows x86_64
          - x86_64-pc-windows-msvc
          # Linux arm64 gnu and musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install Rust ${{ matrix.target }} ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
      - name: ${{ matrix.target }}
        run: cargo build --release