name: Builds

env:
  RUST_BACKTRACE: full
  CARGO_TERM_COLOR: always

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/builds.yaml
      - migrations/**
      - src/**
      - Cargo.toml
      - Cargo.lock
      - build.rs
      - Dockerfile
      - auraxis-rs/**
      - .dockerignore
      - sqlx-data.json
      - rust-toolchain.toml

  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust-binary-builds:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
          - armv7-unknown-linux-musleabi
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust toolchain
        run: rustup update && rustup toolchain install stable

      - name: Restore target directory cache
        uses: actions/cache/restore@v3
        with:
          path: target
          key: ${{ matrix.target }}-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cross-rs
        run: curl -L https://github.com/cross-rs/cross/releases/latest/download/cross-x86_64-unknown-linux-gnu.tar.gz | tar xz && sudo mv cross /usr/local/bin

      - name: Build
        run: cross build --release -F standalone --target ${{ matrix.target }} || (cargo clean && cross build --release -F standalone --target ${{ matrix.target }})

      - name: Save target directory cache
        uses: actions/cache/save@v3
        with:
          path: target
          key: ${{ matrix.target }}-target-${{ hashFiles('**/Cargo.lock') }}

      # List the contents of the target directory
      - name: List target
        run: ls -l --color target/${{ matrix.target }}/release
      - name: List target
        run: ls -l --color target/

      - name: Prepare artifact
        run: mkdir binaries && mv target/niumside-poptracker binaries/niumside-poptracker || mv target/${{ matrix.target }}/release/niumside-poptracker binaries/niumside-poptracker

      # List the contents of the binaries directory
      - name: List binaries
        run: ls -l --color binaries

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}-niumside-poptracker
          path: binaries/niumside-poptracker

  docker-image-build-and-push:
  # TODO: Use rust-binary-builds as a base for this job
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: rust-binary-builds
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # restore artifacts from rust-binary-builds
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          path: binaries/

      # Recursively list the contents of the binaries directory
      - name: List binaries
        run: ls -lR --color binaries

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ steps.meta.outputs.tags }}
          cache-to: type=inline
