name: Application binary builds

env:
  RUST_BACKTRACE: full
  CARGO_TERM_COLOR: always

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  builds:
    name: Builds for ${{ matrix.target }} ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly]
        target:
          # Linux x64 gnu and musl
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          # Windows x86_64
          - x86_64-pc-windows-msvc
          # Linux arm64 gnu and musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install -y \
          musl-tools \
          openssl \
          libssl-dev
    - name: Install Rust ${{ matrix.target }} ${{ matrix.rust }}
      run: |
        rustup update && \
        rustup install ${{ matrix.rust }} && \
        rustup target add ${{ matrix.target }} --toolchain ${{ matrix.rust }} && \
        rustup default ${{ matrix.rust }}
    - name: ${{ matrix.target }} build
      run: cargo build --release --target ${{ matrix.target }}
    - name: Upload binary artifact
      uses: actions/upload-artifact@v3
      with:
        name: Build-Binary-${{ matrix.go-version }}
        path: target/${{ matrix.target }}/release/niumside-poptracker
