name: Rust PR Lint

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Cargo Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Rust toolchain
        run: rustup update && rustup toolchain install $(cat rust-toolchain.toml | grep channel | cut -d '"' -f 2)
      - name: Cache target directory
        id: cache-target
        uses: actions/cache@v2
        with:
          path: target
          key: ${{ matrix.target }}-target-${{ hashFiles('**/Cargo.lock') }}
      - name: Build
        if: steps.cache-target.outputs.cache-hit != 'true'
        run: cargo build --all-features --target ${{ matrix.target }}

  clippy:
    name: Cargo Clippy
    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Rust toolchain
        run: rustup update && rustup toolchain install $(cat rust-toolchain.toml | grep channel | cut -d '"' -f 2)
      - name: Run Clippy
        run: cargo clippy --all-features -- -D warnings

  unused-deps:
    name: Unused Cargo dependencies
    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Rust toolchain
        run: rustup update && rustup toolchain install $(cat rust-toolchain.toml | grep channel | cut -d '"' -f 2)
      - name: Install cargo-udeps
        run: |
          curl -L https://github.com/est31/cargo-udeps/releases/latest/download/cargo-udeps-v0.1.35-x86_64-unknown-linux-gnu.tar.gz | tar -zxf "./cargo-udeps-v0.1.35-x86_64-unknown-linux-gnu/"

      - name: Run cargo-udeps
        run: cargo udeps --all-targets --locked
