name: Static analysis

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/lint.yaml
      - migrations/**
      - src/**
      - Cargo.toml
      - Cargo.lock
      - build.rs
      - auraxis-rs/**
      - sqlx-data.json
      - rust-toolchain.toml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/lint.yaml
      - migrations/**
      - src/**
      - Cargo.toml
      - Cargo.lock
      - build.rs
      - auraxis-rs/**
      - sqlx-data.json
      - rust-toolchain.toml

  workflow_dispatch:

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    name: Cargo Clippy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust toolchain
        run: |
          rustup update
          rustup toolchain install stable
          rustup default stable
          rustup component add clippy

      - name: Store rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Run Clippy
        run: cargo clippy --release -- -D warnings

  security_audit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]

    steps:
      - uses: actions/checkout@v1

      - name: Store rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  unused-deps:
    name: Unused Cargo dependencies
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust toolchain
        run: |
          rustup update
          rustup toolchain install nightly
          rustup default nightly

      - name: Store rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Install cargo-udeps
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install cargo-udeps

      - name: Run cargo-udeps
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cargo +nightly udeps --all-targets --release --locked
